.containerboxrp {
  color: #fff;
  height: 543px;
  width: clamp(0%, 654px, 95%);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 5px;
  background: rgba(3, 3, 3, 0.4);

  box-shadow: 1px 1px 12px #000;
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0, 0.125);
}
.containerrp {
  align-content: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.formrp {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  width: 100%;
  margin: auto;
}

.fieldrp {
  width: 60%;
  display: grid;
  margin: 0.6rem;
  border: 1px solid var(--color-gray);
  padding: 0.6rem;
  border-radius: 0.25rem;
}

.field__labelrp {
  color: var(--color-gray);
  font-size: 0.6rem;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 0.35rem;
}

.field__inputrp {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  font-weight: bold;
  font-size: 0.8rem;
  width: 100%;
  color: white;

  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
}
.fieldrp:focus-within {
  border-color: #000;
}

.submitrp {
  background-color: #ffffff15;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 600;
  display: block;
  margin-top: 3rem;
  color: #fff;
  min-width: 65%;
  padding: 1rem;
  border-radius: 0.25rem;
  border: 0;
  cursor: pointer;
  outline: 0;
}
.button:focus-visible {
  background-color: #333;
}

.fade-out {
  animation: fadeOut ease 10s;
  -webkit-animation: fadeIn ease 10s;
  -moz-animation: fadeIn ease 10s;
  -o-animation: fadeIn ease 10s;
  -ms-animation: fadeIn ease 10s;
}

.errorrp {
  color: rgb(239, 41, 11);
  position: absolute;
  display: flex;
  justify-content: center;
  padding: 0 15px;
  font-size: 13px;
  margin-top: 0px;
  width: 100%;
  bottom: 12%;
  transform: translateY(-15px);
  opacity: 1;
  animation: 1s ease-in;
  will-change: opacity, transform;
}
