.gridContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  margin: 0 10rem;
}
.gridWrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .gridWrapper {
    grid-template-columns: repeat(1, 1fr);
  }
  .gridContainer {
    margin: 0;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .gridWrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .gridWrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .gridWrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1500px) {
  .gridWrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

.loader-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.absolute {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
